<main>
  <div class="container">

    <section class="search-city-block">
      <input class="city-input required" type="text"
             [(ngModel)]="city"
             placeholder="Введіть Ваше місто">
      <button class="search-button" (click)="searchWeatherForCity()">Шукати</button>
    </section>

    <ng-container *ngIf="dayWeather">
      <section class="days-selector">
        <ng-container *ngFor="let day of availableDays; let i = index">
          <div class="day-item"
               [ngClass]="{'selected-day': day.selected}"
               (click)="selectAnotherDay(i)"
          >
            <span>{{day.dayOfTheWeek}}</span>
            <span class="day-number">{{day.dayNumber}}</span>
            <span>{{day.month}}</span>
            <img class="weather-icon" src="/assets/img/icons/sun-cloud.svg" alt="">
          </div>
        </ng-container>
      </section>

      <app-details-day-weather [dayWeather]="dayWeather"></app-details-day-weather>
    </ng-container>
  </div>
</main>
